# Python bytecode files
__pycache__/
*.pyc

# Audio and large data files
*.wav
*.mp3
*.aac

# Logs and temporary files
*.log
*.tmp

# System files
.DS_Store
Thumbs.db

.idea/

# Virtual environment
venv/
env/
